<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/styles/style.css}" rel="stylesheet" />
<title>Le potager facile</title>
</head>

<body>
	<header>
		<a href="#" th:href="@{/ihm/Home}" class="bann">
			<h1>Le potager facile</h1>
			<h2>Gestionnaire de potager</h2>
		</a>
	</header>

	<nav>
		<ul>
			<li><a href="#" th:href="@{/ihm/potager}">Ajouter un Potager</a></li>
			<li><a th:href="@{/ihm/plante}">Ajouter une Plante</a></li>
			<li><a th:href="@{/ihm/carre}">Ajouter un carre</a></li>
			<li><a th:href="@{/ihm/action}">Ajouter une action</a></li>
			<li><a th:href="@{/ihm/pdc}">Ajouter P.D.C</a></li>
			<li><a th:href="@{/ihm/lstplante}">Afficher une Plantes</a></li>
			<li><a th:href="@{/ihm/lstpotager}">Afficher les potagers</a></li>
			<li><a th:href="@{/ihm/lstaction}">Afficher les actions</a></li>
		</ul>
	</nav>
	<h2>Mes potagers</h2>	
	
	<table>
		<thead>
			<tr>
				<th>Localisation</th>
				<th>Nom</th>
				<th>Surface</th>
				<th>Ville</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="potager : ${lstPotager}">
				<td th:text="${potager.localisation}"></td>
				<td th:text="${potager.nomPotager}"></td>
				<td th:text="${potager.surface}"></td>
				<td th:text="${potager.ville}"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>