<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Variete plante</title>
</head>
<body>
<h1 th:text="${message}"></h1>
<form th:action="@{/ihm/addPotager}" th:object="${potagerForm}" method="post">

    <label for="localisation">Localisation</label>
    <input type="text" th:field="*{potager.localisation}" id="localisation" placeholder="Localisation">
    
    <label for="nomPotager">Nom</label>
    <input type="text" th:field="*{potager.nomPotager}" id="nomPotager" placeholder="Nom du potager">
    
    <label for="surface">Surface</label>
    <input type="text" th:field="*{potager.surface}" id="surface" placeholder="Surface">
    
    
    <label for="ville">Ville</label>
    <input type="text" th:field="*{potager.ville}" id="ville" placeholder="Ville">
    
    <input type="submit" value="Ajouter">   
</form>
</body>
</html>