<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/styles/style.css}" rel="stylesheet" />
<title>Le potager facile</title>
</head>

<body>
	<header>
		<a href="#" th:href="@{/ihm/Home}" class="bann">
			<h1>Le potager facile</h1>
			<h2>Gestionnaire de potager</h2>
		</a>
	</header>

	<nav>
		<ul>
			<li><a href="#" th:href="@{/ihm/potager}">Ajouter un Potager</a></li>
			<li><a th:href="@{/ihm/plante}">Ajouter une Plante</a></li>
			<li><a th:href="@{/ihm/carre}">Ajouter un carre</a></li>
			<li><a th:href="@{/ihm/action}">Ajouter une action</a></li>
			<li><a th:href="@{/ihm/pdc}">Ajouter P.D.C</a></li>
			<li><a th:href="@{/ihm/lstplante}">Afficher une Plantes</a></li>
			<li><a th:href="@{/ihm/lstpotager}">Afficher une Plantes</a></li>
			
		</ul>
	</nav>
<h1 th:text="${message}"></h1>
<form th:action="@{/ihm/addpdc}" th:object="${pdcForm}" method="post">

    <label for="nbPlan">Nombre de plan : </label>
    <input type="number" th:field="*{pdc.nbPlan}" id="nbPlan" placeholder="Nombre de plan" style="margin-bottom: 20px">
    <br>
  
    <label for="dtMisePlace">Date de mise en place : </label>
    <input type="date" th:field="*{pdc.dtMisePlace}" id="dtMisePlace" placeholder="Date de mise en place" style="margin-bottom: 20px">
    <br>
    
    <label for="dtRecolte">Date de recolte : </label>
    <input type="date" th:field="*{pdc.dtRecolte}" id="dtRecolte" placeholder="Date de recolte" style="margin-bottom: 20px">
    <br>
    
	<label for="plante">Quelle plante ajouter  ? </label>
	<select th:field="*{plante}" name="plante" id="plante">
	<option th:each="plante : ${plantes}" th:value="${{plante.idPlante}}"  th:text="${plante.nomPlante}" ></option>
    </select>
    <br>
    
    <label for="carre">Dans quel carre ajouter  ? </label>
	<select th:field="*{carre}" name="carre" id="carre">
	<option th:each="carre : ${carres}" th:value="${{carre.idCarre}}"  th:text="${carre.typeExposition}" ></option>
    </select>
    <br>
    
    <input type="submit" value="Ajouter" style="margin-top: 20px">   
</form>
</body>
</html>

<!-- private Integer idPdc; -->
<!-- 	private Integer nbPlan; -->
<!-- 	private LocalDate dtMisePlace; -->
<!-- 	private LocalDate dtRecolte;  -->