<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h2>Mes plantes</h2>
	
	<label for="filtre">filtre:</label>

<select name="filtre" id="filtre">
    <option value="">--Please choose an option--</option>
    <option value="type">Type</option>
    <option value="nom">Nom</option>
    <option value="variete">Variete</option>
    
</select>
	
	
	<table>
		<thead>
			<tr>
				<th>Nom1</th>
				<th>Type1</th>
				<th>Variete1</th>
				<th>Surface1</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="plante : ${lstPlantes}">
				<td th:text="${plante.nomPlante}"></td>
				<td th:text="${plante.typePlante}"></td>
				<td th:text="${plante.variete}"></td>
				<td th:text="${plante.surfaceOccupee}"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>