<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/styles/style.css}" rel="stylesheet" />
<title>Le potager facile</title>
</head>

<body>
	<header>
		<a href="#" th:href="@{/ihm/Home}" class="bann">
			<h1>Le potager facile</h1>
			<h2>Gestionnaire de potager</h2>
		</a>
	</header>

	<nav>
		<ul>
			<li><a href="#" th:href="@{/ihm/potager}">Ajouter un Potager</a></li>
			<li><a th:href="@{/ihm/plante}">Ajouter une Plante</a></li>
			<li><a th:href="@{/ihm/carre}">Ajouter un carre</a></li>
			<li><a th:href="@{/ihm/action}">Ajouter une action</a></li>
			<li><a th:href="@{/ihm/pdc}">Ajouter P.D.C</a></li>
			<li><a th:href="@{/ihm/lstplante}">Afficher une Plantes</a></li>
			<li><a th:href="@{/ihm/lstpotager}">Afficher une Plantes</a></li>
			
		</ul>
	</nav>	<h2>Mes plantes</h2>
	
<!-- 	<label for="filtre">filtre :</label> -->

<!-- <select name="filtre" id="filtre"> -->
<!--     <option value="">--Please choose an option--</option> -->
<!--     <option value="type">Type</option> -->
<!--     <option value="nom">Nom</option> -->
<!--     <option value="variete">Variete</option> -->
    
<!-- </select> -->
	
	
	<table>
		<thead>
			<tr>
				<th>Nom</th>
				<th>Type</th>
				<th>Variete</th>
				<th>Surface</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="plante : ${lstPlantes}">
				<td th:text="${plante.nomPlante}"></td>
				<td th:text="${plante.typePlante}"></td>
				<td th:text="${plante.variete}"></td>
				<td th:text="${plante.surfaceOccupee}"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>