<!DOCTYPE html>
<html>
<head>
<head>
<meta charset="UTF-8">
<link th:href="@{/styles/style.css}" rel="stylesheet" />
<title>Le potager facile</title>
</head>

<body>
	<header>
		<a href="#" th:href="@{/ihm/Home}" class="bann">
			<h1>Le potager facile</h1>
			<h2>Gestionnaire de potager</h2>
		</a>
	</header>

	<nav>
		<ul>
			<li><a href="#" th:href="@{/ihm/potager}">Ajouter un Potager</a></li>
			<li><a th:href="@{/ihm/plante}">Ajouter une Plante</a></li>
			<li><a th:href="@{/ihm/carre}">Ajouter un carre</a></li>
			<li><a th:href="@{/ihm/action}">Ajouter une action</a></li>
			<li><a th:href="@{/ihm/pdc}">Ajouter P.D.C</a></li>
			<li><a th:href="@{/ihm/lstplante}">Afficher une Plantes</a></li>
			<li><a th:href="@{/ihm/lstpotager}">Afficher les potagers</a></li>
			<li><a th:href="@{/ihm/lstaction}">Afficher les actions</a></li>
			
		</ul>
	</nav>
	
<h1 th:text="${message}"></h1>
<form th:action="@{/add}" th:object="${planteForm}" method="post">

    <label for="nomPlante">Nom de la plante</label>
    <input type="text" th:field="*{plante.nomPlante}" id="nomPlante" placeholder="Nom de la plante">
    
    <label for="typePlante">type de plante</label>
    <input type="text" th:field="*{plante.typePlante}" id="typePlante" placeholder="Type de plante">
    
    <label for="variete">Variete </label>
    <input type="text" th:field="*{plante.variete}" id="variete" placeholder="Variete">
    
    <label for="surfaceOccupee">Surface Occupee</label>
    <input type="number" th:field="*{plante.surfaceOccupee}" id="surfaceOccupee" placeholder="Surface Occupee">
    
    <input type="submit" value="Ajouter">   
    
     
    
    
    
	
    
</form>
</body>
</html>