<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h2>Mes plantes</h2>
	<table>
		<thead>
			<tr>
				<th>Nom</th>
				<th>Type</th>
				<th>Variete</th>
				<th>Surface</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="plante : ${rootPlantes}">
				<td th:text="${plante.nomPlante}"></td>
				<td th:text="${plante.typePlante}"></td>
				<td th:text="${plante.variete}"></td>
				<td th:text="${plante.surfaceOccupee}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>